---
layout: 'base.njk'
title: Oops! Not Found
---

<h1>{{ title }}</h1>
<p>
      Oops! It seems you’ve wandered into a quiet corner of the internet—nothing here but grace in disguise. Don’t worry, let’s guide you back to where the journey continues. Visit our <a href="/">home page</a> to explore the latest episodes, or check out our <a href="/episodes/">episode archive</a> for inspiration.
  </p>