---
layout: 'base.njk'
---

<section class="hero">
  <img src="/assets/matt-botsford-OKLqGsCT8qs-unsplash.jpg" alt="Hero Image" class="hero-image">
  <div class="hero-content">
    <h1>
      everything is <br><span>GRACE</span><br> podcast
    </h1>
  </div>
</section>
<section>
  <div class="episode-preview">
    <img src="https://fakeimg.pl/400x400" alt="Intro Episode Image">
    <div class="episode-preview-text">
      <div class="episode-heading">
        <h2>Intro Episode: Finding Grace in Everyday</h2>
        <h3>Kara Loryn Lilly</h3>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia curae; Nullam quis lacus non dolor tincidunt tincidunt. Nullam ac blandit massa.</p>
      <audio controls>
        <source src="path/to/your/placeholder-audio.mp3" type="audio/mpeg"> Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="podcast-description">
    <h2>A Compelling Elevator Pitch for the Podcast</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    <div class="podcast-icons">
      <h3>Tune In</h3>
      <i class="bi bi-apple" title="Apple Podcasts"></i>
      <i class="bi bi-spotify" title="Spotify"></i>
    </div>
  </div>
</section>