{%- for episode in podcast -%}
    <div class="recent-episodes--cards">
      <img src="{{ episode.image }}" alt="{{ episode.title }}" />
        <span>EPISODE {{ episode.episodeNumber | padEpisodeNumber }}</span>
          <h3>
            <a href="{{ episode.url }}">
              {{ episode.title }}
            </a>
          </h3>
          <div class="recent-episodes-cta-container">
            <p>
              <a href="{{ episode.url }}" class="listen-now">Listen Now &rarr;</a>
            </p>
          </div>
    </div>
{%- endfor -%}